input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
:root{
    font-size: 62.5%;

    --color-base-white: #ffffff;
    --color-base-button: #7879F1;
    --color-base-text: #34355B;
    --color-base-input: #DCE2E9;
}
body{
    background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;

    display: grid;
    place-items: center;
    height: 100vh;
}
body, button, input{
    font-family: 'DM Sans', sans-serif;
}
.hide{
    display: none;
}
/*Screen 1*/
main{
    border-radius: 0.6rem;
    background: #FFF;
    box-shadow: 0px 0.2rem 0.4rem 0px rgba(0, 0, 0, 0.10);
    padding: 4.8rem 6.4rem 6.4rem;

    width: min(42.8rem, 90%);

    margin-top: -12rem;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-base-text);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}
p{
    color: var(--color-base-text);
    opacity: 0.8;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;

    margin-bottom: 4.8rem;
}
form{
    display: flex;
    justify-content: center;
}
input, button{
    border: none;
    padding: 1.6rem;
}
input{
    border-radius: .4rem 0px 0px .4rem;

    background: var(--color-base-input);

    width: 6rem;
}
button{
    border-radius: 0px .4rem .4rem 0px;

    background: var(--color-base-button);

    color: var(--color-base-white);
    text-align: center;
    font-weight: 700;
    cursor: pointer;

    transition: background .3s;
}

button:hover{
    background-color: var(--color-base-text);
}

/*Screen2*/

.screen2{
    text-align: center;
}

h2{
    font-size: 2.4rem;

    margin-bottom: 3.2rem;
}

.screen2 button{
    border-radius: .4rem;
}